<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title><%= @title %></title>
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <form action='action' method='post'>
      <h2><%= @text %></h2>
      <ul class='unstyled'>
        <% Choices.each do |key, value| %>
          <li>
             <label class='radio'>
              <input type='radio' name='choice' value='<%= key %>' id='choice_<%= key %>' />
              <%= p value %>
            </label>
          </li>
        <% end %>
      </ul>
      <button type='submit' class='btn btn-primary'>Choose en action!</button>
    </form>
  </body>
</html>
